{
  "$schema": "https://json.schemastore.org/prettierrc",
  "singleQuote": true,
  "arrowParens": "avoid",
  "printWidth": 120,
  "bracketSpacing": true,
  "trailingComma": "none",
  "endOfLine": "auto",
  "jsxSingleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "embeddedLanguageFormatting": "off",
        "printWidth": 9999,
        "proseWrap": "preserve"
      }
    },
    {
      "files": "*.yml",
      "options": {
        "printWidth": 9999
      }
    },
    {
      "files": "src/headtags.ts",
      "options": {
        "printWidth": 9999
      }
    }
  ]
}
