@use './utilities.scss' as *;

nav.navbar {
  background-color: color-mix(in srgb, oklch(16.93% .004 285.95) 85%, transparent);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-block-end: 1px solid var(--ifm-toc-border-color);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
  backdrop-filter: blur(20px) saturate(180%);
  position: sticky;
  top: 0;
  z-index: 1000;
  height: var(--catbee-navbar-height);

  .navbar__brand {
    transition: transform 0.3s ease;
    margin-right: 0;

    &:hover {
      transform: scale(1.05);
    }
  }

  .navbar__title {
    background: linear-gradient(45deg, gold, orange, #ff8c00);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    font-weight: 700;
    font-size: 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 80px;
    font-family: 'Kaushan Script';
  }

  .navbar-sidebar {
    background: #0f0f11;
    border-right: 1px solid var(--ifm-toc-border-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100dvh;
  }

  .navbar-sidebar__backdrop {
    height: 100dvh;
  }

  .navbar__item {
    transition: all 0.2s ease;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      bottom: 2px;
      left: 50%;
      width: 0;
      height: 2px;
      background: var(--ifm-color-primary);
      @include transition-base;
      transform: translateX(-50%);
    }

    &:hover::after {
      width: 80%;
    }
  }

  .navbar__link {
    font-weight: 600;
    transition: color 0.2s ease;

    &:hover {
      color: var(--ifm-color-primary);
    }
  }
}

html[data-theme='light'] {
  nav {
    &.navbar {
      background-color: color-mix(in srgb, white 85%, transparent);
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
    }

    .navbar__title {
      background: linear-gradient(45deg, #4e4500, #ae7100, #000);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
    }

    .navbar-sidebar {
      background: white;
      border-right: var(--ifm-toc-border-color);
    }
  }
}

@mixin navbar-icon-common {
  margin-right: 0.5rem;
  vertical-align: middle;
  transition: transform 0.3s ease;
}

/* Navbar Icons */
.navbar-docs-link,
.navbar-packages-dropdown,
.navbar-tools-dropdown,
.navbar-license-link {
  display: flex;
  align-items: center;

  &.navbar-docs-link::before {
    @include material-icons('library_books', 1.2rem, var(--ifm-color-primary));
    @include navbar-icon-common;
  }

  &.navbar-docs-link:hover::before {
    transform: scale(1.2) rotate(5deg);
  }

  &.navbar-packages-dropdown::before {
    @include material-icons('widgets', 1.2rem, var(--ifm-color-primary));
    @include navbar-icon-common;
  }

  &.navbar-packages-dropdown:hover::before {
    transform: scale(1.2) rotate(-5deg);
  }

  &.navbar-tools-dropdown::before {
    @include material-icons('build', 1.2rem, var(--ifm-color-primary));
    @include navbar-icon-common;
  }

  &.navbar-tools-dropdown:hover::before {
    transform: scale(1.2) rotate(-10deg);
  }

  &.navbar-license-link::before {
    @include material-icons('gavel', 1.2rem, var(--ifm-color-primary));
    @include navbar-icon-common;
  }

  &.navbar-license-link:hover::before {
    transform: scale(1.2) rotate(10deg);
  }
}

@media (max-width: 996px) {
  .navbar__item {
    display: none;
  }
}